<div class="column is-four-fifths is-offset-1" style="">
  <div style="">
    <div class="section">
      <div class="container" style="">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-vertical">
            <div class="tile is-child box ">
              <h1 class="title has-text-weight-medium	 has-margin-b-7">Summary</h1>
              <table class="table ">
                <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td name="">Number of clusters (~different proteins)</td>
                  <td>3649</td>
                </tr>
                <tr>
                  <td name="">Number of protein conformers</td>
                  <td>18790</td>
                </tr>
                <tr>
                  <td name="">Number of protein chains</td>
                  <td>51467</td>
                </tr>
                <tr>
                  <td class="has-margin-b-7" name="">Average number of conformers per protein</td>
                  <td>5.15</td>
                </tr>
                <tr>
                  <td class="has-text-weight-medium	">Number of clusters per group:</td>
                </tr>
                <tr>
                  <td class="has-text-centered	" name="">Tertiary Deformations</td>
                  <td>421</td>
                </tr>
                <tr>
                  <td class="has-text-centered	" name="">Mixed Motions</td>
                  <td>2806</td>
                </tr>
                <tr>
                  <td class="has-text-centered	" name="">Rigid Body movements</td>
                  <td>394</td>
                </tr>
                <tr>
                  <td class="has-margin-b-7" name="">Families (pfam)</td>
                  <td>1759</td>
                </tr>
                <tr>
                  <td name="">Highest maximum quaternary RMSD</td>
                  <td>8.11 Å</td>
                </tr>
                <tr>
                  <td name="">Average maximum quaternary RMSD</td>
                  <td>0.99 Å</td>
                </tr>
                <tr>
                  <td class="has-margin-b-7" name="">Lowest maximum quaternary RMSD</td>
                  <td>0.04 Å</td>
                </tr>
                <tr>
                  <td name="">Highest maximum tertiary RMSD</td>
                  <td>2.54 Å</td>
                </tr>
                <tr>
                  <td name="">Average maximum tertiary RMSD</td>
                  <td>0.95 Å</td>
                </tr>
                <tr>
                  <td class="has-margin-b-7" name="">Lowest maximum tertiary RMSD</td>
                  <td>0 Å</td>
                </tr>
                <tr>
                  <td name="">Annotated genes</td>
                  <td>3283</td>
                </tr>


                </tbody>
              </table>

            </div>
            <div class="tile is-child box">
              <p class="title has-text-weight-medium	has-margin-bt-7">Source organisms</p>
              <img src="https://github.com/gstn-caruso/codnasq/blob/master/app/assets/images/stats_species_coverage.png?raw=true" alt="Maximum quaternary RMSD per cluster">

            </div>
          </div>

          <div class="tile is-5 is-parent is-vertical">
            <div class="tile is-child box">
              <p class="title has-text-weight-medium	has-margin-bt-7">Maximum quaternary RMSD per cluster [Å]</p>
              <img src="https://github.com/gstn-caruso/codnasq/blob/master/app/assets/images/stats_rmsd_max_q_distr.png?raw=true" alt="Maximum quaternary RMSD per cluster">

            </div>
            <div class="tile is-child box">
              <p class="title has-text-weight-medium	 has-margin-bt-7">Number of conformers per cluster</p>
              <img src="https://github.com/gstn-caruso/codnasq/blob/master/app/assets/images/stats_frequency_conformers_by_cluster.png?raw=true" alt="Number of conformers per cluster">

            </div>

            <div class="tile is-child box">
              <p class="title has-text-weight-medium	 has-margin-bt-7">Conformers resolution [Å]</p>
              <img src="https://github.com/gstn-caruso/codnasq/blob/master/app/assets/images/stats_resolutions.png?raw=true" alt="Conformers resolution">


            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
