<div class="column is-four-fifths is-offset-1" style="">
  <div style="">
    <div class="card" style="">
      <div class="card-content statistics-panel" style="">
        <h1 class="title has-text-weight-bold has-margin-b-7">Summary</h1>
        <p name="">Number of clusters (~different proteins): 3649</p>
        <p name="">Number of protein conformers 18790</p>
        <p name="">Number of protein chains 51467</p>
        <p class="has-margin-b-7" name="">Average number of conformers per protein 5.15</p>
        <p name="">Number of clusters per group</p>
        <p class="has-margin-l-4" name="">A. Tertiary deformations 421</p>
        <p class="has-margin-l-4" name="">B. Mixed motions 2806</p>
        <p class="has-margin-b-7 has-margin-l-4" name="">C. Rigid-body movements 394</p>
        <p class="has-margin-b-7" name="">Families: 1759</p>
        <p name="">Highest maximum quaternary RMSD [Å] 8.11</p>
        <p name="">Average maximum quaternary RMSD [Å] 0.99</p>
        <p class="has-margin-b-7" name="">Lowest maximum quaternary RMSD [Å] 0.04</p>
        <p name="">Highest maximum tertiary RMSD [Å] 2.54</p>
        <p name="">Average maximum tertiary RMSD [Å] 0.95</p>
        <p class="has-margin-b-7" name="">Lowest maximum tertiary RMSD [Å] 0</p>
        <p name="">Annotated genes: 3283</p>
        <h1 class="title has-text-weight-bold has-margin-bt-7">Organisms</h1>
        <img src="https://github.com/gstn-caruso/codnasq/blob/master/assets/stats_species_coverage.png?raw=true" alt="species coverage">
        <h1 class="title has-text-weight-bold has-margin-bt-7">Maximum quaternary RMSD per cluster [Å]</h1>
        <img src="https://github.com/gstn-caruso/codnasq/blob/master/assets/stats_rmsd_max_q_distr.png?raw=true" alt="Maximum quaternary RMSD per cluster">
        <h1 class="title has-text-weight-bold has-margin-bt-7">Number of conformers per cluster</h1>
        <img src="https://github.com/gstn-caruso/codnasq/blob/master/assets/stats_frequency_conformers_by_cluster.png?raw=true" alt="Number of conformers per cluster">
        <h1 class="title has-text-weight-bold has-margin-bt-7">Conformers resolution [Å]</h1>
        <img src="https://github.com/gstn-caruso/codnasq/blob/master/assets/stats_resolutions.png?raw=true" alt="Conformers resolution">
      </div>
    </div>
  </div>
</div>
