.site {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content{
	flex: 1;
}

.footer {
	border-top: #0000001f solid 1px;
	margin-top: 5%;
	padding: 3rem 6.5rem 0;
}

.footer-description {
	margin: 2.5% 0 1%;
}

.footer .content ul {
	list-style: none;
}
.navbar-brand { padding: 0 .2em 0 .2em; }
.navbar-item { padding: 0 .5em 0 .5em; }
.navbar-menu.is-active a { 
	padding: .4em .2em .4em .2em; 
	color: black;
}
.navbar-item a { 
	height: 100%;
	color: white;
}

.footer-section-titile {
	margin-bottom: 3%;
	font-weight: bold;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

.statistics-panel img {
	display: block;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .statistics-panel img {
    max-width: 65%;
  }
}
