<div class="column is-four-fifths is-offset-1">
  <h1 class="has-text-weight-bold has-margin-top-down">What is CoDNaS-Q?</h1>
  <p class="has-margin-b-7">CoDNaS-Q <em>—Conformational Diversity of Native State-Quaternary—</em> is a
    high confidence database of conformational diversity in proteins that present a biologically relevant
    quaternary structure.</p>
  <p class="has-margin-b-7">CoDNaS Quaternary possess a collection of redundant complexes experimentally
    determined by X-Ray crystallography technique, including their experimental conditions (ligands, pH,
    temperature, etc), general information (PDB ID, length, etc), cross linked data with other databases
    (<a href="https://www.uniprot.org/" target="_blank">UniProt</a> and
    <a href="https://pfam.xfam.org/" target="_blank">Pfam</a>) and structural information of the protein (RMSD,
    oligomeric state, conformers, etc).</p>

  <h1 class="has-text-weight-bold has-margin-top-down">What is it used for?</h1>
  <p class="has-margin-b-7">The database allows the user find through different criteria and filters
    proteins in several conformations, taking into account their biological quaternary structure.The different
    redundant structures (conformers) have been structurally aligned all vs all in order to assess the
    conformational variability for a given protein. Additionally, the experimental conditions associated to each
    structure have been considered to allow users associate protein conformational changes with the biological
    function.</p>

  <h1 class="has-text-weight-bold has-margin-top-down">Database implementation</h1>
  <p class="has-margin-b-7">CoDNaS Quaternary uses homoligomeric proteins annotated by the algorithm
    QSbio (Dey et al. 2018), that combines PISA (Krissinel and Henrick 2007), EPPIC (Duarte et al. 2012) and
    QSalign (Dey et al. 2018), to predict different parameters of protein complexes. Using the BlastClust, all
    the different structures (in the same oligomeric state) deposited for a given protein were obtained. These
    structures are considered as putative conformers and provide snapshots of proteins dynamics. Structural
    alignments among each pair of conformeros for a given protein were performed by TopMatch. The maximum RMSD
    between pair of conformers is a measure of the protein conformational diversity.</p>

  <h1 class="has-text-weight-bold has-margin-top-down">Example</h1>
  <p class="has-margin-b-7">The fructose-1,6-bisphosphatase (FBPase) is a key regulatory enzyme of
    gluconeogenic pathway. It catalyzes the hydrolysis of fructose-1,6-bisphosphate to fructose-6-phosphate and
    phosphate.
    This tetrameric enzyme presents two conformational states: R state, in which the enzyme is active and
    bounded with the substrate or product; and the T form, where the enzyme is bound to AMP in presence or
    absence of metallic ions.</p>
  <div class="has-text-centered">
    <img src="https://github.com/gstn-caruso/codnasq/blob/master/app/assets/images/about.png?raw=true"
         alt="1RDX conformer in gold and 1RDY cian"
         style="width: 60%;
             height: 60%;
             display: block;
             margin-left: auto;
             margin-right: auto;">
    <small>R and T state of FBPase. 1RDX conformer in gold colour and 1RDY
      showed in
      cian.</small>
  </div>

  <p class="has-margin-top-down">In CoDNaS-Q we are able to find the R and T forms within the
    <%= link_to('CQ1fpf', cluster_show_path('1fpf')) %> cluster, and 66 others conformers of this protein, some of
    them with the ligand bound. The maximum quaternary RMSD measured for this cluster is 3.38 Å.</p>
  <br>
</div>