.landing p {
  margin: 1rem;
}

.sample-gifs {
  display: flex;
  justify-content: center;
}

.sample-gifs img {
  max-width: 15rem;
  margin: 2rem 1rem;
}

.logo {
  max-width: 40rem;
  margin-bottom: 2rem;
}