.site {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content{
	flex: 1 0 auto;
}

.footer {
    background-color: steelblue !important;
	border-top: #0000001f solid 1px;
    margin-top: 5%;
    padding: 10px 20px 20px 0 !important;
}

.footer a {
    color: white;
}

.footer .content ul {
	list-style: none;
}
.navbar-brand { padding: 0 .2em 0 .2em; }
.navbar-item { padding: 0 .5em 0 .5em; }
.navbar-menu.is-active a { 
	padding: .4em .2em .4em .2em; 
	color: black;
}
.navbar-item a { 
	height: 100%;
	color: white;
}

.footer-section-title {
	/* margin-bottom: 3%; */
	font-weight: bold;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

.statistics-panel img {
	display: block;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .statistics-panel img {
    max-width: 65%;
  }
}

/* spinner/loader */

/* Center the loader */
#loader {
  /*  position: absolute;
    left: 50%;
    margin: -75px 0 0 -75px;
    top: 50%; */
    width: 2.5rem;
    height: 2.5rem;
    z-index: 1;
    border: 0.4rem solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.4rem solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.question-color {
    color: #908E8E;
}