<div class="column">

  <div class="panel">
    <p class="panel-heading has-text-weight-bold has-text-centered has-background-info-light">How to use CoDNaS-Q</p>
    <p>There are different ways to find your protein of interest in the CoDNaS-Q database.
      The Home Page displays a basic search bar. The user can enter a term and hit the ‘Search’ button to retrieve the
      results.
      By default, the search is performed on all available fields. A drop-down menu allows the user to limit the search
      to pre-defined fields:
    </p>
    <div class="content">
      <div class="columns">
        <div class="column">
          <ul>
            <li>A PDB identifier (example: 2vcq)</li>
            <li>A protein name (example: Hydrolase)</li>
            <li>An organism (example: Mus musculus)</li>
          </ul>
          <div class="column has-text-centered">
            <div >
              <figure class="image is-128x128 ">
                <img src="https://i.imgur.com/a4ItmsK.png">
              </figure>
            </div>
          </div>
        </div>


      </div>
        <p>For example, in order to search for hydrolases only present in humans, the user could write hydrolase and
        human keywords in the Name and Organism fields.
      </p>
      <figure class="image">
        <img src="https://i.imgur.com/2JEKdFL.png" style="width: 300px;height: 160px">
      </figure>
    </div>
  </div>

  <div class="panel">
    <div class="tabs is-centered is-boxed">
      <ul>
        <li class="is-active">
          <a>
            <span>Search results</span>
          </a>
        </li>
        <li>
          <a>
            <span>Clusters in CoDNaS-Q</span>
          </a>

        </li>
        <li>
          <a>
            <span>Conformers entries</span>
          </a>
        </li>
      </ul>
    </div>
</div>


</div>