<div class="column">
  <div class="panel">
    <section class="hero">
      <div class="hero-foot">
        <nav class="tabs is-boxed is-centered ">
          <div class="container">
            <ul>
              <li class="tab is-active" onclick="openTab(event,'HowTo')"><a>How to use CoDNaS-Q</a></li>
              <li class="tab" onclick="openTab(event,'Search')"><a>Search results</a></li>
              <li class="tab" onclick="openTab(event,'ClustersInfo')"><a>Clusters in CoDNaS-Q</a></li>
              <li class="tab" onclick="openTab(event,'ConformersInfo')"><a>Conformers entries</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <div class="container section">
      <div id="HowTo" class="content-tab">
        <section>
          <p>There are different ways to find your protein of interest in the CoDNaS-Q database.
            The Home Page displays a basic search bar. The user can enter a term and hit the ‘Search’ button to retrieve
            the
            results.
            By default, the search is performed on all available fields. </p>
          <br>
          <p>A drop-down menu allows the user to limit the
            search
            to pre-defined fields:</p>

          <div class="content">
            <div class="columns">
              <div class="column">
                <ul>
                  <li>A PDB identifier (example: 2vcq)</li>
                  <li>A protein name (example: Hydrolase)</li>
                  <li>An organism (example: Mus musculus)</li>
                </ul>
                <div class="column has-text-centered">
                  <div>
                    <figure class="image is-128x128 ">
                      <img src="https://i.imgur.com/a4ItmsK.png">
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <p>For example, in order to search for hydrolases only present in humans, the user could write hydrolase and
              human keywords in the Name and Organism fields.
            </p>
            <figure class="image">
              <img src="https://i.imgur.com/2JEKdFL.png" style="width: 300px;height: 160px">
            </figure>
          </div>
        </section>
      </div>
      <div id="ConformersInfo" class="content-tab" style="display:none">
        <section>
          <p>CoDNAs-Q provides a separate entry for each individual conformer. As mentioned before, a conformer entry
            contains general description about a conformer and its participation in a cluster.
          </p>
          <br>
          <p>A conformer entry has three different sections:</p>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">
          <div class="columns">
            <div class="column">
              <div class="has-text-centered">
                <p class="has-text-weight-bold">Conformer information</p>
              </div>
            </div>
            <div class="column">
              <p>General information about the conformer derived from the PDB file, including experimental conditions
                (pH, temperature, ligands, etc). It also lists the UniProt and Pfam IDs of the protein, cross-linked to
                these databases.</p>
            </div>
          </div>
          <figure class="image">
            <img src="https://i.imgur.com/JpLEc56.png" style="width: 60%;height: 40%;display: block;
                margin-left: auto;
                margin-right: auto;">
          </figure>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">
          <div class="columns">
            <div class="column">
              <div class="has-text-centered">
                <p class="has-text-weight-bold">3D View</p>
              </div>
            </div>
            <div class="column">
              <p>An interactive 3D display of the conformer.
              </p>
            </div>
          </div>
          <figure class="image">
            <img src="https://i.imgur.com/07fLabi.png" style="width: 20%;height: 9%;display: block;
                margin-left: auto;
                margin-right: auto;">
          </figure>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">
          <div class="columns">
            <div class="column">
              <div class="has-text-centered">
                <p class="has-text-weight-bold">Conformers</p>
              </div>
            </div>
            <div class="column">
              <p>A table listing all conformers belonging to the same cluster as the entry. Equivalent to the section
                with the same name in the corresponding Cluster entry.
              </p>
            </div>
          </div>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">
          <div>
            <p>
              A conformer entry can be directly accessed by building a custom URL as follows:
              <em>https://codnasq.herokuapp.com/conformer/</em> + <em>PDB-ID</em></p>
            <p>For example, to access the cluster ID CQ1wa9:
              <a href="https://codnasq.herokuapp.com/conformer/1wa9">https://codnasq.herokuapp.com/conformer/1wa9</a>
            </p>


          </div>


        </section>
      </div>
      <div id="ClustersInfo" class="content-tab" style="display:none">
        <section>
          <p>Cluster entries comprise the main source of information provided by CoDNAs-Q. As mentioned before, a
            cluster entry contains general information about a cluster and all its conformers.</p>
          <br>
          <p>A cluster entry has three different sections:</p>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">

          <div class="columns">
            <div class="column">
              <div class="has-text-centered">
                <p class="has-text-weight-bold">Cluster information</p>
              </div>
            </div>
            <div class="column">
              <p>General information about the cluster, including oligomeric state of the protein(s) involved, number of
                conformers in the cluster, and brief statistics about the structures available and their comparison.</p>
            </div>
          </div>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">

          <div class="columns">
            <div class="column">
              <div class="has-text-centered">
                <p class="has-text-weight-bold">Maximum RMSD pair information</p>
              </div>
            </div>
            <div class="column">
              <p>
                Provides a comparison of the pair of conformers in the cluster that result in the maximum quaternary
                RMSD between any pair of conformers. The table shows columns with exclusive data for each of the two
                conformers, plus a third column provided the output of their structural comparison, as calculated with
                TopMatch. An interactive 3D display of the superposed structures is also shown.
              </p>
            </div>
          </div>
          <figure class="image">
            <img src="https://i.imgur.com/e9CtArE.png" style="width: 60%;height: 60%;display: block;
                margin-left: auto;
                margin-right: auto;">
          </figure>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">

          <div class="columns">
            <div class="column">
              <div class="has-text-centered">
                <p class="has-text-weight-bold">Conformers in cluster</p>
              </div>
            </div>
            <div class="column">
              <p>Provides a table (analogous to the Search Results table) listing all conformers included in this
                cluster, with general information about them.</p>
            </div>
          </div>
          <figure class="image">
            <img src="https://i.imgur.com/T7zU0y1.png" style="width: 60%;height: 60%;display: block;
                margin-left: auto;
                margin-right: auto;">
          </figure>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">
          <div>
            <div><p>A cluster entry can be directly accessed by building a custom URL as follows:</p>
              <em>https://codnasq.herokuapp.com/cluster/</em> + <em>PDB-ID</em></div>
            <br>
            <p>For example, to access the cluster ID CQ1wa9:</p>
            <a href="https://codnasq.herokuapp.com/cluster/1wa9">https://codnasq.herokuapp.com/cluster/1wa9</a>
          </div>


        </section>
      </div>
      <div id="Search" class="content-tab" style="display:none">
        <section>
          <div class="column">
            <p>After a search, the results page shows a table of matching PDB entries. Each row corresponds to a
              different conformer from a certain cluster. General information about each cluster is displayed.</p>
          </div>
          <figure class="image">
            <img src="https://i.imgur.com/6pnX5rb.png" style="width: 70%;height: 70%;display: block;
                margin-left: auto;
                margin-right: auto;">
          </figure>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">
          <div>
            <p>We define a conformer as any of the alternative structures for a protein; each PDB identifier describes a
              different conformer. All conformers in CoDNaS-Q are oligomeric proteins.
            <p>From the results table, the user can access a certain entry in CoDNaS-Q.</p>
            <br>

            <p>There are two types of entries in CoDNaS (described in more detail below):</p>
            </p>
          </div>
          <br>

          <div>
            <li>Clicking on a Cluster ID (first column) would take the user to a Cluster entry, with information about a
              cluster and all conformers that it contains.
            </li>
            <li>Clicking on a PDB ID (second column) takes the user to a Conformer entry, with information specific to
              that conformer.
            </li>
          </div>
          <br>
          <p>It is also possible to click on the Name or Species columns to retrieve a list of entries matching the
            protein name or the organism, respectively.</p>
        </section>
      </div>
    </div>
  </div>
  <script>
      function openTab(evt, tabName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("content-tab");
          for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tab");
          for (i = 0; i < x.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" is-active", "");
          }
          document.getElementById(tabName).style.display = "block";
          evt.currentTarget.className += " is-active";
      }
  </script>

</div>