  <footer class="footer mb-0">
    <div class="is-size-70" >
      <div class="columns is-mobile" >
        <div class="column">
          <figure class="image is-128x128" style="margin-left: 0.5rem">
            <a href="http://ufq.unq.edu.ar/sbg" target="_blank"><%= image_tag('sbg_logo_white.png', alt: 'logo sbg') %></a>
          </figure>
        </div>
        <div class="column">
          <div class="footer-description has-text-centered"><p>CoDNaS-Q is developed and maintained by the
            <a href="http://ufq.unq.edu.ar/sbg" target="_blank">Structural Bioinformatics Group</a> at
            <a href="http://www.unq.edu.ar" target="_blank">National University of Quilmes</a> in Bernal, Buenos Aires,
            Argentina.</p>
            <p>This website is built by
              <a href="https://github.com/gstn-caruso" target="_blank">Gastón Caruso & Nahuel Escobedo</a> and shared
              under MIT.</p></div>
        </div>
        <div class="column">
          <figure class="image is-128x128 is-pulled-right">
            <a href="http://www.unq.edu.ar/" target="_blank"><%= image_tag('Logo-UNQ_white.png', alt: 'logo unq') %></a>
          </figure>
        </div>
      </div>
    </div>
  </footer>
