<footer class="footer">
  <div class="is-size-7">
    <div class="columns">
      <div class="column">
        <ul>
          <li><p class="footer-section-title">Contact us</p></li>
          <li>
            <a href="http://ufq.unq.edu.ar/sbg/images/map_sbg-unq.png" target="_blank">Rooms 31-33, Department of Science &amp;
              Technology, UNQ</a></li>
          <li>
            <a href="https://goo.gl/maps/PZjY8QTAmCtXTT578" target="_blank">Roque Saenz Peña 352, Bernal, Buenos Aires,
              Argentina</a></li>
          <li><a href="tel:+541143657100">(+54)-11-4365-7100</a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><p class="footer-section-title">Funded by</p></li>
          <li><a href="http://www.unq.edu.ar" target="_blank">National University of Quilmes (UNQ)</a></li>
          <li>
            <a href="https://www.conicet.gov.ar/" target="_blank">National Scientific and Technical Research Council (CONICET)</a>
          </li>
          <li>
            <a href="https://www.argentina.gob.ar/ciencia/agencia" target="_blank">National Agency for Promotion of Science and
              Technology (ANPCyT)</a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><p class="footer-section-title">Members of</p></li>
          <li>
            <a href="http://a2b2c.org/" target="_blank">Argentine Association for Bioinformatics and Computational Biology
              (A2B2C)</a></li>
          <li>
            <a href="http://www.rsg-argentina.iscbsc.org/" target="_blank">Regional Student Group - Argentina (RSG-Argentina)</a>
          </li>
          <li>
            <a href="https://www.iscb.org/" target="_blank">International Society for Computational Biology (ISCB)</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-description has-text-centered"><p>CoDNaS-Q is developed and maintained by the
      <a href="http://ufq.unq.edu.ar/sbg" target="_blank">Structural Bioinformatics Group</a> at
      <a href="http://www.unq.edu.ar" target="_blank">National University of Quilmes</a> in Bernal, Buenos Aires, Argentina.</p>
      <p>This website is built by <a href="https://github.com/gstn-caruso" target="_blank">Gastón Caruso</a> and shared under MIT.</p></div>
  </div>
</footer>
