<nav class="navbar is-info has-shadow has-margin-b-5" role="navigation" aria-label="main navigation">
  <div class="navbar-brand has-text-weight-bold">
    <a href="/" class="navbar-item"><img src="/assets/logo.png" alt="codnas q logo"></a>
    <a href="#" class="navbar-burger burger" data-target="navbarButtons"></a>
  </div>
  <div id="navbarButtons" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="/browse" class="navbar-item">
          <i class="fas fa-stream has-margin-r-7" aria-hidden="true"></i>
          Browse
        </a>
      </div>
      <div class="navbar-item">
        <a href="/advanced_search" class="navbar-item">
          <i class="fas fa-search has-margin-r-7" aria-hidden="true"></i>
          Advanced Search
        </a>
      </div>
      <div class="navbar-item">
        <a href="/download" class="navbar-item"><i class="fas fa-download has-margin-r-7" aria-hidden="true"></i>
          Download
        </a>
      </div>
      <div class="navbar-item">
        <a href="/stats" class="navbar-item"><i class="fas fa-chart-line has-margin-r-7" aria-hidden="true"></i>
          Statistics
        </a>
      </div>
      <div class="navbar-item">
        <a href="/about" class="navbar-item"><i class="fas fa-info has-margin-r-7" aria-hidden="true"></i>
          About
        </a>
      </div>
      <div class="navbar-item">
        <a href="/contact" class="navbar-item"><i class="fas fa-address-card has-margin-r-7" aria-hidden="true"></i>
          Contact us</a>
      </div>
    </div>
  </div>
</nav>
